[init]
	defaultBranch = main

[user]
	email = diachkovspecial@gmail.com
	name = diachkow

[core]
	editor = nvim
	compression = 9
	whitespace = error
	preloadindex = true
	sshCommand = ssh -i ~/.ssh/personal -o IdentitiesOnly=yes

[merge]
	conflictStyle = zdiff3

[push]
	autoSetupRemote = true

[git]
	editor = nvim

[advice]
	addEmptyPathSpec = false
	pushNonFastForward = false
	statusHints = false

[status]
	branch = true
	showStash = true
	showUntrackedFiles = all

[includeIf "gitdir:~/coding/work/sumup/"]
    path = ~/.gitconfig-sumup

[includeIf "gitdir:~/coding/work/lightit/"]
    path = ~/.gitconfig-lightit
